<h2>Hola soy la pagina de index</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero esse at minima totam. Omnis soluta provident minus deleniti tempore explicabo fugit blanditiis quisquam doloremque nulla dolor reprehenderit repellendus, ipsam maiores?</p>
